doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="assets/css/style.css", type="text/css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    title "Prueba de Pug"
  body
    nav
      div.nav-wraper
        a#logo(href="#").brand-logo.Logoed-and-down logo
        ul#nav-mobile.right.hide-on-med-and-down
          li
            a(href="#") Inicio
          li
            a(href="#") Portafolio
          li
            a(href="#") Nosotros
          li
            a(href="#") Contacto
          li
            a(href="#")
              i.material-icons.right search
    section.row.center#banner
      span#titulo Titulo
      span.banner-text.col.s8.m8.l8.white-text.offset-s2.offset-m2.offset-l2 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      div.clear-div
      a.waves-effects.waves-light.btn Botón
    section.row
      div.col.s1.m1.l1.offset-s1.offset-m2.offset-l2
        div.row.center
          img(src="assets/img/icon1.png")
        div.row.center
          p.text-icon Texto texto texto jljdkf jskldjf klsjdklfjs dfsdkfjsljfklsdfl dfsffsdfsdf
      div.col.s1.m1.l1.offset-s1.offset-m2.offset-l2
        div.row.center
          img(src="assets/img/icon2.png")
        div.row.center
          p.text-icon Texto texto texto jljdkf jskldjf klsjdklfjs dfsdkfjsljfklsdfl dfsffsdfsdf
      div.col.s1.m1.l1.offset-s1.offset-m2.offset-l2
        div.row.center
          img(src="assets/img/icon3.png")
        div.row.center
          p.text-icon Texto texto texto jljdkf jskldjf klsjdklfjs dfsdkfjsljfklsdfl dfsffsdfsdf
      div.col.s1.m1.l1.offset-s1.offset-m2.offset-l2
        div.row.center
          img(src="assets/img/icon4.png")
        div.row.center
          p.text-icon Texto texto texto jljdkf jskldjf klsjdklfjs dfsdkfjsljfklsdfl dfsffsdfsdf
    script(type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js")
